﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Employee Information</h1>
    <br />
    <input type="text" id="employeeId" class="form-control" placeholder="Enter the employee id... or empty to show all" />
    <br />
    <input type="button" id="btnGetEmployee" value="Get Employees" class="btn btn-primary" />
    <br />
    <div id="grid"></div>
</div>